# homeassistant
homeassistant/home-assistant*
homeassistant/.cloud
homeassistant/.storage
homeassistant/blueprints
homeassistant/deps
homeassistant/tts
homeassistant/secrets.yaml

# mosquitto
mosquitto/log*

# zigbee2mqtt
zigbee2mqtt/data/log*
zigbee2mqtt/data/coordinator_backup.json
zigbee2mqtt/data/database.db
zigbee2mqtt/data/state.json

# matter
matter/credentials*
matter/chip*
matter/*.json*